@import url('pfpinfobox.css');
@import url('pfpborderanimation.css');
@import url('aboutbtn.css');
@import url('aboutbox.css');
@import url('cvbutton.css');
@import url('skillboxconfig.css');
@import url('contbox.css');
@import url('workbox.css');
@import url('contactbox.css');
@import url('foot.css');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  user-select: none;
  cursor: pointer;
  scroll-behavior: smooth;
}

nav {
  height: 70px;
  width: 100%;
  background-color: rgb(51, 51, 51);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: white;
  padding-right: 75px;
  position: fixed; 
  top: 0;
  left: 0;
  z-index: 1000; 
}

ul {
  list-style: none;
  display: flex;
  align-items: flex-end;
  gap: 40px;
  margin-right: 20px;
}

.nav-name {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  margin-right: 810px;
  font-size: 20px;
  transition: transform 0.2s ease-in-out;
}

.nav-name:hover{
  transform: scale(1.1);
  color: rgb(64, 207, 255);
}

.nav-name:active{
  transform: scale(0.9);
}

.nav-elements {
  font-weight: bold;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  padding-bottom: 2px;
  transition: transform 0.2s ease-in-out;
}

.nav-elements::before {
  content: "";
  position: absolute;
  height: 1.5px;
  bottom: 0;
  left: 0;
  width: 100%;
  transform: scaleX(0);
  transform-origin: bottom right;
  background: white;
  transition: transform 0.25s ease-out;
}

.nav-elements:hover{
  color: rgb(64, 207, 255);
  transform: scale(1.05);
}

.nav-elements:active{
  transform: scale(0.9);
}

.nav-elements:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
  background: linear-gradient(90deg, rgb(0, 166, 255), cyan, skyblue, deepskyblue, rgb(179, 241, 250));
}

body {
  padding-top: 60px; 
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  background-color: black;
}

.main-box {
  height: 3550px;
  width: 100%;
  background-color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.info {
  overflow: hidden; /* Prevents scrollbars */
}

.pfp {
  overflow: hidden; /* Prevents scrollbars */
}

.hidden {
  opacity: 0;
  transform: translateX(-50px); 
  transition: all 0.6s ease-out;
}

.slideinleft {
  opacity: 0;
  transform: translateX(-50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slideinright {
  opacity: 0;
  transform: translateX(50px);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.slideinleft.animate {
  opacity: 1;
  transform: translateX(0);
}

.slideinright.animate {
  opacity: 1;
  transform: translateX(0);
}

#scroll-skill{
  width: 100%;
  height: 1px;
}


.sp-icon{
  width: 35px;
  height: 35px;
  margin-top: 7px;
}




.sup2dwn {
  opacity: 0;  /* Initially hidden */
  transform: translateY(-50px);  /* Start position (above) */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}


.sup2dwn.active {
  opacity: 1;
  transform: translateY(0); 
}


::-webkit-scrollbar {
  width: 5px; 
  height: 8px;
}


::-webkit-scrollbar-track {
  background: black;
}


::-webkit-scrollbar-thumb {
  background: cyan;
  border-radius: 20px; 
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 200, 200); 
}

.about-me-btn:hover{
  transform: translateY(-3px);
}