.pfpinfobox {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    padding: 50px;
    flex: auto;
    margin-top: 25px;
    margin-left: 25px;
  }
  
  .pfp {
    width: 450px;
    height: 450px;
    margin-left: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: slideInFromRight 1s ease-out;
  }

  .info {
    width: 900px;
    height: 450px;
    display: flex;
    flex-direction: column;
    text-align: start;
    font-weight: bolder;
    font-size: x-large;
    overflow: hidden;
    padding-top: 40px;
    padding-left: 50px;
  
  }

  .q_abt{
    height: 60px;
    width: 90%;
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .qabtb {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 3px #00a6ff solid;
 }
 .qabtb:hover{
  transform: translateY(-2px);
 }


.qabtb svg {
    height: 75%; 
    width: 75%;
}

.qabtb .lc{
  height: 68%;
  width: 68%;
}



  
  .info h1, .info h3 {
    animation: slideInFromLeft 1s ease-out, gradientFlow 15s linear infinite;
    background: linear-gradient(90deg, rgb(0, 166, 255), cyan, skyblue, deepskyblue, rgb(179, 241, 250),
                             deepskyblue, skyblue, cyan, rgb(0, 166, 255));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%; 
  }

  .info h3{
    margin-top: 15px;
  }

  .about-box h1, .about-box h3, .about-box h2{
    animation: slideInFromLeft 1s ease-out, gradientFlow 15s linear infinite;
    background: linear-gradient(90deg, white, cyan);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    background-size: 200% 100%; 
    opacity: 0.9;
  }

  .about-box h2{
    margin-bottom: 15px;
  }

  .abt-text h3{
    margin: 0;
  }
  
  .info > .about-me-btn {
    width: 150px;
  }

  @keyframes slideInFromLeft {
    0% {  transform: translateX(-100%);  opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes slideInFromRight {
    0% { transform: translateX(100%); opacity: 0; }
    100% { transform: translateX(0); opacity: 1; }
  }
  
  @keyframes gradientFlow { to{ background-position: 1000%;} }

  @media (max-width: 1050px) {
    .pfpinfobox { flex-direction: column-reverse; align-items: center; }
    .pfp { width: 450px; margin-left: 0; margin-bottom: 20px; }
    .info { width: 100%; }
  }

  .qabtb:hover{
    box-shadow: 0 0 12px rgb(0, 166, 255), 0 0 19px rgb(0, 208, 255), 0 0 29px rgba(0, 166, 255, 0.3);
  }

  .qabtb:active{
    height: 37px;
    width: 37px;
  }